@import "tailwindcss";

th {
  border-collapse: collapse;
  border: 1px solid gray;
}

.shadow-3d {
  text-shadow:
    2px 0 3px rgba(0, 0, 0, 0.2),
    2px 2px 2px rgba(0, 0, 0, 0.2),
    2px 2px 4px rgba(0, 0, 0, 0.2),
    2px 4px 8px rgba(0, 0, 0, 0.2),
    2px 8px 16px rgba(0, 0, 0, 0.3);
}
